<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <ul>
      <li>Phone no. : +919358781751</li>
      <li>Email id: yasharora.ya2001@gmail.com</li>
      <li>Outlook id:yarora@iitg.ac.in</li>
    </ul>
<%- include("partials/footer"); -%>
